doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
<<<<<<< HEAD
        title beige
    body 
        header.header
            h1 Beige
            nav
                ul
                    li 
                        span 
                        a(href="#") Kultur
                    li
                        span 
                        a(href="#") Menschen
                    li
                        span 
                        a(href="#") Reisen
                    li
                        span 
                        a(href="#") Design
                    li
                        span 
                        a(href="#") Mode
                    li
                        span 
                        a(href="#") Pflege
                    li
                        span 
                        a(href="#") Fair
                        
            span ðŸ”
        main.posts
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar 
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar 
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar 
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
=======
        title rodicdavidson
    body 
        h1 Rodic Davidson 
        main 
            nav
                ul
                    li Projects
                    li Practice
                    li News
                    li Exhibition
                    li Contact
            .photo
                img(src="https://source.unsplash.com/random/", alt="")
                h4 Suffolk Farmstead
            .photo
                img(src="https://source.unsplash.com/random/1", alt="")
                h4 Suffolk Farmstead
            .photo
                img(src="https://source.unsplash.com/random/2", alt="")
                h4 Suffolk Farmstead
            .photo
                img(src="https://source.unsplash.com/random/3", alt="")
                h4 Suffolk Farmstead
            .photo
                img(src="https://source.unsplash.com/random/4", alt="")
                h4 Suffolk Farmstead
            .photo
                img(src="https://source.unsplash.com/random/5", alt="")
                h4 Suffolk Farmstead
            .photo
                img(src="https://source.unsplash.com/random/6", alt="")
                h4 Suffolk Farmstead
                                
>>>>>>> 15bc8f11aedc5d93098698933ff831c622908594
