doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title beige
    body 
        header.header
            h1 Beige
            nav
                ul
                    li 
                        span 
                        a(href="#") Kultur
                    li
                        span 
                        a(href="#") Menschen
                    li
                        span 
                        a(href="#") Reisen
                    li
                        span 
                        a(href="#") Design
                    li
                        span 
                        a(href="#") Mode
                    li
                        span 
                        a(href="#") Pflege
                    li
                        span 
                        a(href="#") Fair
                        
            span 🔍
        main.posts
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar 
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar 
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar 
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         
            section.post
                header.post__header
                    span.post__date 24. Februar 2020
                    span.post__author Marie Jaster
                .post__content
                    .visible 
                        h3 Hol dir Farbe in deine Inbox
                    .invisible
                footer 
                    span.category Newsletter 
                    span.comments 1 Kommentar                                         